---
layout: page
title: Ph.D. Scholar
subtitle: Deep Learning for Biomedical Imaging
use-site-title: true
use_math: true
---
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: site.date_format }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}



<center><h3>News</h3></center>

<ul>
<li>A research paper titled "SDCT-AuxNet^θ: DCT Augmented Stain Deconvolutional CNN with Auxiliary Classifier for Cancer Diagnosis" has been accepted for publication in Medical Image Analysis $(I.F.-8.88)$.<img src="/img/notification_1.gif" alt="Smiley face"  height="35" width="35"> </li>
 <li>A research paper titled "EDNFC-NET: Convolutional Neural Network with Nested Feature Concatenation for Nuclei-Instance Segmentation" has been accepted in the IEEE Signal Processing Society's flagship conference, $(IEEE ICASSP 2020)$ to be held in May, 2020 in Barcelona, Spain.<img src="/img/notification_1.gif" alt="Smiley face"  height="35" width="35"></li>
<li> I will be visting ISBI 2019, Venice for the poster presentation of my accepted research paper.</l1>
<li> The challenge CNMC-2019 has been sponsored by the IBM. </li>
<li> A research paper titled "CT-NNBI: Method To Impute Gene Expression Data Using DCT Based Sparsity and Nuclear Norm Constraint with Split Bregman Iteration" has been accepted in the IEEE International Symposium on Biomedical Imaging (ISBI), 2019</li>
<li> Challenge titled “Classification of Normal versus Malignant Cells in B-ALL (CNMC-2019)” has been accepted for hosting at IEEE International Symposium for Biomedical Imaging $(ISBI)$ 2019. The challenge is starting on Nov 10, 2018.</li>
</ul>



